.basketcard {
  width: 45%;
  min-width: 350px;
  margin: 10px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 33% auto 33%;
  grid-template-rows: repeat(5, 100px);
  justify-items: center;
  align-items: center;
  color: #000;

  .basketcard__promo {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 100%;
    font-size: 34px;
    font-weight: 800;
  }

  .basketcard__image {
    width: 300px;
    height: 200px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .basketcard__title {
    font-size: 30px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
    justify-self: left;
    font-size: 25px;
    font-weight: bold;
  }

  .basketcard__delete {
    font-size: 30px;
    margin-left: auto;
    margin-right: 0;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
    justify-self: left;
    font-size: 25px;
    font-weight: bold;
  }

  // тут чутка говнокод :D, надо поменять TODO

  .basketcard__decrement,
  .basketcard__encrement {
    width: 60px;
    height: 60px;
    background-color: #d9d9d9;
    border: none;
    border-radius: 20px;
    font-size: 25px;
  }

  .basketcard__total {
    font-size: 30px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 5;
    justify-self: left;
    font-size: 25px;
    font-weight: 100;
  }

  .basketcard__price {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5;
    justify-self: right;
    font-size: 25px;
    font-weight: bold;
  }
}
