.basketcard {
    width: 45%;
    min-width: 350px;
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 33% auto 33%;
    grid-template-rows: repeat(5, 100px);
    justify-items: center;
    align-items: center;
    color: #000;
    
    

    .basketcard__image {
        width: 300px;
        height: 200px;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .basketcard__title {
        font-size: 30px;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 3;
        justify-self: left;
        font-size: 25px;
        font-weight: bold;
    }

    .basketcard__cost {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 3;
        justify-self: right;
        font-size: 25px;
        font-weight: 100;
    }

    // тут чутка говнокод :D, надо поменять TODO

    .basketcard__decrement, .basketcard__encrement {
        width: 60px;
        height: 60px;
        background-color: #D9D9D9;
        border: none;
        border-radius: 20px;
        font-size: 25px;
    }

    .basketcard__decrement {
        justify-self: left;
    }

    .basketcard__encrement {
        justify-self: right;
    }

    .basketcard__quantity {
        font-size: 25px;
    }

    .basketcard__total {
        font-size: 30px;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 5;
        grid-row-end: 5;
        justify-self: left;
        font-size: 25px;
        font-weight: 100;
    }

    .basketcard__price {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 5;
        justify-self: right;
        font-size: 25px;
        font-weight: bold;
    }
}